.contacts {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #283645;
  text-align: center;
}
.contacts__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}
.contacts__wrapper--adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contacts_title {
  display: block;
  font-weight: 300;
  margin-bottom: 32px;
}
.contacts__info {
  margin-bottom: 25px;
}
.contacts__info a {
  text-decoration: none;
  color: #d22856;
}
.contacts__info-text {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.contacts__map {
  margin-top: -50px;
  z-index: -50;
}
@media (min-width: 660px) {
  .contacts {
    margin-bottom: 0;
  }
  .contacts__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .contacts_title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 54px;
  }
  .contacts__wrapper--adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contacts__info {
    width: 50%;
    margin-bottom: 50px;
  }
}
@media (min-width: 960px) {
  .contacts__wrapper--adress {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .contacts__info {
    width: 30%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .contacts__info--email {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .contacts__info-text {
    margin-bottom: 20px;
  }
}
