.features {
  min-height: 1002px;
  outline: 2px solid purple;
}
.features__slogan {
  width: 280px;
  margin: 0;
  padding: 0;
  display: block;
  min-height: 225px;
  outline: 2px solid yellow;
}
.features__list {
  width: 280px;
  margin: 0;
  padding: 0;
  min-height: 480px;
  outline: 2px solid pink;
}
.features__evidence {
  display: none;
}
@media (min-width: 660px) {
  .features {
    min-height: 1120px;
  }
  .features__slogan {
    width: 620px;
  }
  .features__list {
    width: 620px;
    min-height: 500px;
  }
  .features__evidence {
    display: block;
    min-height: 395px;
    outline: 2px solid yellow;
  }
}
@media (min-width: 1200px) {
  .features {
    min-height: 1363px;
  }
  .features__slogan {
    width: 920px;
    min-height: 280px;
  }
  .features__list {
    width: 920px;
    min-height: 670px;
  }
  .features__evidence {
    min-height: 412px;
  }
}
