.main-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.page-footer__logo {
  margin-bottom: 40px;
}
@media (min-width: 660px) {
  .main-footer {
    display: block;
    margin-bottom: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .contacts__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .page-footer__logo {
    margin-bottom: 0;
  }
}
