.page-header {
  background-color: #283645;
}
.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page-header__logo-icon--tablet,
.page-header__logo-icon--desktop {
  display: none;
}
@media (max-width: 1199px) {
  .page-header__logo {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 20px;
  }
  .page-header__logo:hover .page-header__logo-icon-path,
  .page-header__logo:focus .page-header__logo-icon-path {
    fill: #d22856;
  }
  .page-header__logo:active .page-header__logo-icon-path {
    fill: #ffffff;
    opacity: 0.3;
  }
  .page-header__nav--opened .page-header__toggle {
    position: relative;
    display: block;
    width: 50px;
    height: 30px;
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .page-header__nav--opened .page-header__toggle::before,
  .page-header__nav--opened .page-header__toggle::after {
    content: "";
    position: absolute;
    top: 29px;
    right: 20px;
    width: 30px;
    height: 4px;
    background-color: #fff;
  }
  .page-header__nav--opened .page-header__toggle::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .page-header__nav--opened .page-header__toggle::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .page-header__nav--opened .page-header__toggle:hover::before,
  .page-header__nav--opened .page-header__toggle:hover::after {
    background-color: #d22856;
  }
  .page-header__nav--opened .page-header__toggle:active::before,
  .page-header__nav--opened .page-header__toggle:active::after {
    background-color: #d22856;
    opacity: 0.3;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .page-header__nav--closed .page-header__toggle {
    position: relative;
    display: block;
    width: 70px;
    height: 24px;
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .page-header__nav--closed .page-header__toggle::before {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    right: 20px;
    width: 50px;
    height: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
    box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
  }
  .page-header__nav--closed .page-header__toggle:hover::before {
    background-color: #d22856;
    -webkit-box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
    box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
  }
  .page-header__nav--closed .page-header__toggle:active::before {
    background-color: #fff;
    -webkit-box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
    box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
    opacity: 0.3;
  }
  .page-header--nojs .page-header__toggle {
    display: none;
  }
}
@media (min-width: 660px) {
  .page-header__logo-icon--desktop,
  .page-header__logo-icon--mobile {
    display: none;
  }
  .page-header__logo-icon--tablet {
    display: block;
  }
  .page-header__logo {
    padding-top: 27px;
    padding-bottom: 41px;
  }
  .page-header__nav--closed .page-header__toggle {
    top: 20px;
  }
  .page-header__nav--opened .page-header__toggle {
    top: 20px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    z-index: 100;
  }
  .page-header__desctop-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .page-header__logo-icon--tablet,
  .page-header__logo-icon--mobile {
    display: none;
  }
  .page-header__logo-icon--desktop {
    display: block;
  }
  .page-header__toggle {
    display: none;
  }
}
