.reviews {
  min-height: 440px;
  outline: 2px solid orange;
}
.reviews__list {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 262px;
  outline: 2px solid olive;
}
.reviews__togglers {
  margin: 0 auto;
}
.reviews__desctop-toggle {
  display: none;
}
@media (min-width: 660px) {
  .reviews {
    min-height: 380px;
  }
  .reviews__list {
    width: 620px;
    min-height: 240px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    min-height: 560px;
  }
  .reviews__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .reviews__list {
    width: 740px;
    min-height: 465px;
  }
  .reviews__togglers {
    display: none;
  }
  .reviews__desctop-toggle {
    width: 22px;
    height: 41px;
    -ms-flex-item-align: center;
    align-self: center;
    display: block;
    outline: 2px solid green;
  }
}
