.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  text-align: center;
}
.site-list a {
  display: block;
  padding: 13px 18px;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #010101;
  -webkit-box-shadow: 0 -1px 0 0 #010101;
  box-shadow: 0 -1px 0 0 #010101;
}
.site-list a[href]:hover {
  background-color: #151d25;
  border-bottom-color: #283645;
  -webkit-box-shadow: 0 -1px 0 0 #283645;
  box-shadow: 0 -1px 0 0 #283645;
}
.site-list a[href]:active {
  background-color: #3b4f65;
  border-bottom-color: #283645;
  -webkit-box-shadow: 0 -1px 0 0 #283645;
  box-shadow: 0 -1px 0 0 #283645;
}
@media (min-width: 1200px) {
  .site-list a {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }
  .site-list a[href]:hover {
    background-color: transparent;
    color: #d22856;
  }
}
