/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/open-sans-v15-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */;
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/open-sans-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */;
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */;
}
/* pt-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v9-cyrillic_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/pt-sans-v9-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-sans-v9-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */;
}
/* pt-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v9-cyrillic_latin-700.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/pt-sans-v9-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-sans-v9-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
