@bg-white: #fff;
@bg-lightgrey: #f8f5f2;
@tablet-width: 660px;
@desktop-width: 1200px;

.download {
  background-color: #2b3b4b;
  background-image: url("../img/back-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.download__link {
  display: block;
  width: 280px;

  // temporary
  height: 100px;
  outline: 2px solid gold;
}

.download__list {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;

  // temporary
  height: 90px;
  outline: 2px solid blue;
}

.download__description {
  width: 280px;
  padding: 0;
  margin: 0;

  // temporary
  display: block;
  height: 81px;
  outline: 2px solid green;
}

@media (min-width: @tablet-width) {
  .download {
    background-image: url("../img/back-tablet@1x.jpg")
  }

  .download__link {
    width: 300px;
  }

  .download__list {
    width: 300px;
  }

  .download__description {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .download {
    margin-top: -110px;
    background-image: url("../img/back-desktop.jpg");
    background-size: cover;
  }

  .bownload__slogan {
    display: block;
    padding-top: 200px;
  }

  .download__link {
    // temporary
    min-height: 110px;
  }

  .download__list {
    // temporary
    min-height: 120px;
  }

  .download__description {
    // temporary
    min-height: 85px;
  }
}
