@tablet-width: 660px;
@desktop-width: 1200px;
@mobile-tablet-width-only: 1199px;

.site-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-list a {
  display: block;
  padding: 13px 18px;

  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  text-align: center;

  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #010101;
  box-shadow: 0 -1px 0 0 #010101;
}

.site-list a[href] {
  &:hover {
    background-color: darken(#283645, 10%);
    border-bottom-color: #283645;
    box-shadow: 0 -1px 0 0 #283645;
  }

  &:active {
    background-color: lighten(#283645, 10%);
    border-bottom-color: #283645;
    box-shadow: 0 -1px 0 0 #283645;
  }
}

@media (min-width: @desktop-width) {
  .site-list a {
    position: relative;
    border: none;
    box-shadow: none;
    background-color: transparent;
    font-weight: 300;
    font-size: 18px;
    text-transform: none;
    padding: 0;
    padding-top: 38px;
    padding-bottom: 40px;

    &[href]:hover {
      background-color: transparent;
      color: #d22856;
    }

    &[href]:active {
      background-color: transparent;
      color: rgba(255, 255, 255, 0.3);
    }  
  }

  .site-list__item {
    margin-right: 85px;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }

  .site-list__item--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 35px;
      left: 0;
      height: 2px;
      background-color: #fff;
    }
  }
}